.header {
	background-color:rgba(0,0,0,0.2);
	height: 56px;

	.searchbar{
		background: none;
		padding: 15px;

		.searchbar-input-container{
			.searchbar-search-icon{
				left:auto;
				right: 15px;
				color: #ffffff;
				top: 20%;
			}
			.searchbar-input{
				background-color: transparent;
				padding: 0;
				color: #ffffff;
				box-shadow: none;
				border: none;
				border-radius: 0;
				border-bottom: 1px solid #ffffff;
			}
		}
	}
}	    