<ion-header>
    <ion-navbar>
        <button ion-button icon-only menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>

        <ion-title>
            Planets
        </ion-title>
        
        <ion-buttons end>
            <button ion-button icon-only (click)="refresh()">
                <ion-icon name="refresh"></ion-icon>
            </button>
        </ion-buttons>
    </ion-navbar>
</ion-header>
<ion-content padding>
    <ion-card *ngFor="let planet of results">
        <ion-card-header>
            {{planet.name}}
        </ion-card-header>
        <ion-card-content>
            Terrain: {{planet.terrain}}
        </ion-card-content>
    </ion-card>
</ion-content>
    