page-wiki {
    .content{
        .scroll-content{
            padding: 0 !important;
            height: 100%;
        }
    }
    .wiki-content{
        height: 100%;
        padding-bottom: 56px;
        overflow: hidden;

        .img-container{
            position: absolute;
            height: 100%;
            width: 100%;
            background-size: cover;
            background-position: center center;
            -webkit-filter: blur(44px);
            -moz-filter: blur(44px);
            -o-filter: blur(44px);
            -ms-filter: blur(44px);
            filter: blur(44px);
        }
        
        ion-slides {
            height: 100%;
            width: 100%;
    
            .w-films{
                .s-content{
                    height: 100%;
                }
            }
        }
    }
}
