<ion-content class="wikipage" padding>
  <div class="wiki-content" *ngFor="let slider of slides">
      <div class="img-container" [style.backgroundImage]="'url(' + bgImg + ')'"></div>
      <ion-slides *ngFor="let slider of slides" #catSlider pager (click)="goToList()" (ionSlideDidChange)="onSlideChanged()">
        <ion-slide class="w-films" *ngFor="let slide of (slider | async)?.slides">
          <div class="s-content">
              <wiki-cards [slide]="slide"></wiki-cards>
          </div>
        </ion-slide>
      </ion-slides>
  </div>
</ion-content>
