/* style liste*/

	#listofitem button.item.itemlist{
		width: 75%;
		margin: 0 auto;
		margin-top: 50px;
		padding-left: 0;
	    overflow: hidden;

		&:before{
			content: "";
		    display: inline;
			width: 50px;
			margin-left: -40px;
			height: 75px;
		    background: #da7575;
		    border-top-right-radius: 100px;
		    border-bottom-right-radius: 100px;
		}

		.item-inner{
			padding-left:15px;
		}
	}
	#listofitem .title-item{
		color: black;
		font-weight:bold;
		font-size:18px;
		text-transform:uppercase;
	}
	.detail-item{
		background-color:white;
		width: 74%;
		margin:0 auto;
		padding:15px;
		ion-item.item.item-block.item-md.item-radio{
		    width: auto;
		    display: inline-block;
		    height: 30px;
		    margin-left: -2px;
		    background:transparent;
		}
		.radio-md .radio-icon{
			display:none;
		}
	}