<ion-content class="wikidetail" padding>
	<ion-list id="listofitem">
		<div class="itemlist">
			<button class="itemlist" ion-item (click)="buttonClick()">
				<p class="title-item">#3 - La revange des sith</p>
				<p> 2005 - George Lucas </p>
			</button>
			<div class="detail-item">
				<div [ngStyle]="{ 'display' : valueOfDisplay}">
				    <ion-list radio-group class="categories-item">
				     <ion-item>
					    <ion-label>Infos</ion-label>
					    <ion-radio value="Infos" checked (click)="openPart('Infos')"></ion-radio>
					  </ion-item>
					  <ion-item>
					    <ion-label>People</ion-label>
					    <ion-radio value="People" (click)="openPart('People')"></ion-radio>
					  </ion-item>
					  <ion-item>
					    <ion-label>Species</ion-label>
					    <ion-radio value="Species" (click)="openPart('Species')"></ion-radio>
					  </ion-item>
				    </ion-list>
					<p [ngStyle]="{ 'display' : valueOfDisplayInfos}">Lorem ipsum imodium baraque à frite mange des Infos</p>
					<p [ngStyle]="{ 'display' : valueOfDisplayPeople}">Lorem ipsum imodium baraque à frite mange des People</p>
					<p [ngStyle]="{ 'display' : valueOfDisplaySpecies}">Lorem ipsum imodium baraque à frite mange des Species</p>
				</div>
			</div>
		</div>
	</ion-list>
</ion-content>