<ion-header>
    <ion-navbar>
        <button ion-button icon-only menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>

        <ion-title>
            People
        </ion-title>
        
        <ion-buttons end>
            <button ion-button icon-only (click)="refresh()">
                <ion-icon name="refresh"></ion-icon>
            </button>
        </ion-buttons>
    </ion-navbar>
</ion-header>
<ion-content padding>
    <ion-card *ngFor="let people of results" (click)="toggleCard(people.url)">
        <ion-card-header>
            <b>{{people.name}}</b>
        </ion-card-header>
        <ion-card-content>
            <b>Birth year:</b> {{people.birth_year}}
            <ion-icon *ngIf="showDetails == people.url" name="ios-arrow-up"></ion-icon>
            <ion-icon *ngIf="showDetails != people.url" name="ios-arrow-down"></ion-icon>
            <div *ngIf="showDetails == people.url">
                <b>Height</b>: {{people.height}}<br/>
                <b>Mass:</b> {{people.mass}}<br/>
                <b>Appears in:</b><br/>
                <span *ngFor="let film of people.films">- {{getFilm(film).title}}<br/></span>
            </div>
        </ion-card-content>
    </ion-card>
</ion-content>
    