<!--
  Generated template for the QuizPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header></ion-header>   
    
<ion-content padding >
  
  <div *ngIf="visibilityStart">
    <p>Test here your knowledge!</p>
    <p>MAy the force be with us!</p>
    <button ion-button (click)="onButtonStartClicked($event)">Start</button>
  </div>
  
  <div *ngIf="VisibilityQuestion">    
    <ion-list radio-group>
        <ion-list-header>
            {{quiz.question}}
        </ion-list-header>
      
        <ion-item>
          <ion-label>{{quiz.answer1}}</ion-label>
          <ion-radio value="1" (click)="onSelectItem('1')"></ion-radio>
        </ion-item>
      
        <ion-item>
          <ion-label>{{quiz.answer2}}</ion-label>
          <ion-radio value="2" (click)="onSelectItem('2')"></ion-radio>
        </ion-item>
      
        <ion-item>
          <ion-label>{{quiz.answer3}}</ion-label>
          <ion-radio value="3"(click)="onSelectItem('3')"></ion-radio>
        </ion-item>
        <ion-item>
            <ion-label>{{quiz.answer4}}</ion-label>
            <ion-radio value="4" (click)="onSelectItem('4')"></ion-radio>
          </ion-item>
      </ion-list>
  </div>

  <div *ngIf="VisibilityFinal">
    Number of good answer : {{goodAnswerUser}}

    YOU FINISH THE QUIZ!

    <button ion-button (click)="onButtonRestartClicked($event)">Restart</button>
  </div>
      
</ion-content>