<ion-tabs>
  <ion-tab [root]="tab1Root" tabTitle="Le Quiz" tabIcon="game-controller-b"></ion-tab>
  <ion-tab [root]="tab2Root" tabTitle="Le Wiki" tabIcon="barcode"></ion-tab>
  <ion-tab [root]="tab3Root" tabTitle="L'Association" tabIcon="contacts"></ion-tab>
</ion-tabs>
