<ion-header>
    <ion-navbar>
        <button ion-button icon-only menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>

        <ion-title>
            Films
        </ion-title>

        <ion-buttons end>
            <button ion-button icon-only (click)="refresh()">
                <ion-icon name="refresh"></ion-icon>
            </button>
        </ion-buttons>
    </ion-navbar>
</ion-header>
<ion-content padding>
    <ion-card *ngFor="let film of results">
        <ion-card-header>
            #{{film.episode_id}} - {{film.title}}
        </ion-card-header>
        <ion-card-content>
            Opening crawl: {{film.opening_crawl}}
        </ion-card-content>
    </ion-card>
</ion-content>
    