<ion-header>
  <ion-navbar>
    <ion-title>
      L'Association
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
    <iframe width="100%" height="100%" seamless="seamless" frameBorder="0" src="https://docs.google.com/forms/d/1T18gNlp1pHyCvEnwnRd4FQiMrLn0ju5JCT4rGKa0ogk/viewform"></iframe>
</ion-content>
