.first-card{
    height: 15px;
    &:before{
        content: "";
        position: fixed;
        width: 55%;
        background: rgba(255, 255, 255, 0.2);
        border-radius: 20px 20px 0 0;
        height: 30px;
        margin-top: 10px;
        left: 22.5%;
    }
}

.previous-card{
    height: 15px;
    &:before{
        content: "";
        position: fixed;
        width: 60%;
        background: rgba(255, 255, 255, 0.4);
        border-radius: 20px 20px 0 0;
        height: 15px;
        left: 20%;
    }
}
.wiki-card{
    background: transparent;
    
    height: 400px;
    background-size: cover;
    background-position: center center;

    border-radius: 7px;
    padding: 20px;

    h2.card-title{
        color: #FFFFFF;
        text-transform: uppercase;
        font-family: Arial;
    }

    .card-stat{
        width: 120px;
        border-radius: 50%;
        border: 1px solid #FFFFFF;
        color: #FFFFFF;
        font-size: 40px;
        font-weight: bold;
        padding: 30px;
        margin: 0 auto;
        margin-top: 100px;

    }
}