<ion-grid>
    <ion-row>
        <ion-col class="first-card" col-8 offset-2></ion-col>
        <ion-col class="previous-card" col-8 offset-2></ion-col>
        <ion-col [style.background-image]="getBackground(slide.img)" class="wiki-card" col-8 offset-2>
            <h2 class="card-title">{{slide.title}}</h2>
            <div class="card-stat">
                {{slide.stat}}
            </div>
        </ion-col>
    </ion-row>
</ion-grid>